#div1 {
    width: 100px;
    height: 100px;
    background: #990000;
    color: white;
}

#div1:hover {
    width: 300px;
    height: 300px;
    background: #000099;
    color: red;
    padding: 50px;
}

#div2 {
    width: 100px;
    height: 100px;
    background: #990000;
    transition: 2s;
    color: white;
    transition-delay: 1s;
}


#div2:hover {
    width: 300px;
    height: 300px;
    background: #000099;
    color: red;
    padding: 50px;
}

#div3 {
    width: 100px;
    height: 100px;
    background: #990000;
    transition: 1s;
    color: white;
    transition-timing-function: ease;
}

#div3:hover {
    width: 2300px;
    height: 100px;
    background: #000099;
    color: red;
}

#div4 {
    width: 100px;
    height: 100px;
    color: white;
    background: #990000;
    transition-property: width, height;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

#div4:hover {
    width: 300px;
    height: 300px;
    background: #000099;
    color: red;
}

#div5 {
    width: 100px;
    height: 100px;
    color: white;
    background: #990000;
    transition: width 4s ease-in 1s;
}

#div5:hover {
    width: 300px;
    height: 100px;
    background: #000099;
    color: red;
}