#div1 {
    width:100px;
    height:100px;
    background:#990000;
    color:white;
    transition:transform 2s;
}

#div1:hover{
    width:100px;
    height:100px;
    background:#000099;
    transform:translate(200px, 200px);
}

#div2 {
    width:100px;
    height:100px;
    background:#999000;
    transition: width 2s, height 2s,
    transform 2s;
    color:white;
    position: absolute;
    top: 100px;
    left: 250px;
}

#div2:hover{
    width:300px;
    height:300px;
    background:#000099;
    transform:rotate(360deg);
}

#div3 {
    width:100px;
    height:100px;
    background:#990000;
    color:white;
    transition: 2s, width 2s,
    height 2s, transform 2s;
}

#div3:hover{
    width:100px;
    height:100px;
    background:#000099;
    margin-left: 200px;
    transform:scale(0.5,0.1);
}

#div4 {
    width:100px;
    height:100px;
    background:#999900;
    transition: width 2s, height 2s, transform 2s;
    color:white;
}

#div4:hover{
    width:300px;
    height:300px;
    background:#000099;
    transform:skewX(3600deg);
}


#div5 {
    width:100px;
    height:100px;
    background:#999900;
    transition: width 2s, height 2s, transform 2s;
    color:white;
}

#div5:hover{
    width:100px;
    height:100px;
    background:#000099;
    transform:rotateX(3600deg);
}
