* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
}

/* HEADER */
.header {
  height: 60px;
  background: #bfe2f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  font-size: 22px;
  cursor: pointer;
}

/* HERO */
.hero {
  position: relative;
  height: 420px;
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 120, 200, 0.35);
}

.hero-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #eaf3fb;
  padding: 25px;
  width: 260px;
  border-radius: 18px;
  border: 10px solid #c14b35;
  text-align: left;
}


.hero-card h1 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.hero-card p {
  font-size: 12px;
}

/* PHILOSOPHY */
.philosophy {
  background: #bfe2f6;
  padding: 40px 25px 70px;
  position: relative;
}

.philosophy h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.philosophy p {
  font-size: 14px;
  max-width: 500px;
  line-height: 1.6;
}

.circle {
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 40px;
  height: 40px;
  background: #c14b35;
  border-radius: 50%;
}
